<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{context.title}} - Neosam's dev blog</title>
        <link rel="stylesheet" href="../static/bootstrap.min.css" />
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark mb-5">
            <a class="navbar-brand" href="{{context.ctxt}}">Neosam's dev blog</a>
            <span class="navbar-text">
                {{context.title}}
            </span>
            <span class="navbar-text"></span>
        </nav>
        <main><div class="container"><div class="col-md-8 offset-md-2">
            {{#each posts}}
            <h1><a href="{{context.ctxt}}/post/{{header.id}}.html">{{header.title}}</a></h1>
                {{{body}}}
                <div class="font-weight-lighter">
                    Author: {{header.author}}, 
                    Date: {{header.date}}
                </div>
                <hr/>
            {{/each}}
        </div></div></main>
        <nav class="navbar fixed-bottom navbar-dark bg-dark">
                <span class="navbar-text">
                        <small>The content and the design of this blog is licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</small>
                </span>
                <span class="navbar-text">
                    <small><a href="{{context.ctxt}}/post/2019-11-25-license-and-privacy.html">This page doesn't track you</a></small>
                </span>
            </nav>
    </body>
</html>
